node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/
*.swp
*.tsbuildinfo

.cache/
.astro/

# package-lock.json
coverage/

# scratch files
scratch/
